@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0; 
}

.main-nav {
    background-color: #ff3385;
}

.main-nav ul{
    margin: 0;                                                                                                                                                                                                                                                                                                                                                  
    height: 60px;
    margin-left: 0;
}

.main-nav ul li {
    display: inline-block;
}

.main-nav ul li a{
    color: white;
    padding: 10px;
    line-height: 60px;
}

.right-nav{
    float: right;
}

a {
    text-decoration: none;
}

.bg-img {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-position: 600px 100px;
    height: 500px;
    opacity: 0.3;
}

.bg-img p {
    font-size: 40px;
    margin-left: 50px;
    color: #ff3385;
    text-align: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.container .input-form {
    box-sizing: border-box;
    padding: 30px;
  }

  .container .input-form a {
    color: #ff3385;
  }
  
.container .input-form input {
    display: block;
    width: 325px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #ff3385;
    border-radius: 4px;
    outline: none;
  }

.container .input-form input[type="radio"] {
    display: inline;
}

label {
    color:  #ff3385;
    font-size: 15px;
}

.container .input-form input[type="submit"] {
    background-color: #ff3385;
    border: 1px solid #ff3385;
    color: #ffffff;
}

.container .input-form input[type="date"] {
    color: #ff3385;
}

.container p {
    font-size: 30px;
    margin-left: 25px;
    color: #ff3385;
    margin-bottom: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff3385;
    color: white;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #ff3385;
    overflow-x: hidden;
}
  
.sidenav a {
    padding: 25px 0 25px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}

  
.main {
    margin-top: 20px;
    margin-left: 220px;
    margin-right: 20px;
}

.active-link {
    background-color: white;
    color:#ff3385!important;
}


table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ff3385;
    text-align: left;
    padding: 8px;
    font-weight: lighter;
}

button {
    background-color: #ff3385;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 10px 4px 10px 4px;
    cursor: pointer;
}
 