@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0; 
}

.main-nav {
    background-color: #ff3385;
}

.main-nav ul{
    margin: 0;                                                                                                                                                                                                                                                                                                                                                  
    height: 60px;
    margin-left: 0;
}

.main-nav ul li {
    display: inline-block;
}

.main-nav ul li a{
    color: white;
    padding: 10px;
    line-height: 60px;
}

.right-nav{
    float: right;
}

a {
    text-decoration: none;
}

.bg-img {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-position: 600px 100px;
    height: 500px;
    opacity: 0.3;
}

.bg-img p {
    font-size: 40px;
    margin-left: 50px;
    color: #ff0000;
    text-align: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 400px; */
    /* height: 300px; */
  }
  
.container .input-form {
    /* width: 100%;
    height: 300px; */
    box-sizing: border-box;
    padding: 30px;
  }
  
.container .input-form input {
    display: block;
    width: 325px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #ff6666;
    border-radius: 4px;
    outline: none;
  }

 label {
     color:  #ff6666;
     font-size: 15px;
 }

.container .input-form input[type="submit"] {
     background-color: #ff6666;
     border: 1px solid #ff6666;
     color: #ffffff;
}

.container .input-form input[type="date"] {
    /* background-color: #ff0000;
    border: 1px solid #ff0000; */
    color: #ff6666;
}

.container p {
    font-size: 30px;
    margin-left: 25px;
    color: #ff0000;
    /* text-align: center; */
    margin-bottom: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff3385;
    color: white;
    text-align: center;
  }
